@import "base/colors";

:host {
  width: 100%;
  background: $footer-bg;
}
.social-media li,
.copyright {
  font-size: 14px;
}
.f-social-nav fa-icon {
  font-size: 2rem;
}
.ternary-nav {
  background-color: $sub-footer-bg;
}
