@import "abstract/placeholders";

.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.divider {
  border-width: 2px;
}

.app-about-img {
  @extend %app-img;

  height: 100%;
}
