<section class="container forgot-password mb-4">
  <div class="card password-card mat-elevation-z2">
    <div *ngIf="!isPasswordUpdated">
      <h4 class="font-weight-bold">Update Password</h4>
      <div class="secondary-txt mt-2 mb-2">
        Please Enter Your New Password
      </div>
      <form
        class="col-lg-9 col-md-12 app-form"
        autocomplete="off"
        [formGroup]="updatePasswordForm"
        (ngSubmit)="updatePassword()"
      >
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Create a password"
            [formControl]="password"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="password.hasError('required') && !password.hasError('pattern')"
            >Please enter password.</mat-error
          >
          <mat-error *ngIf="!password.hasError('required') && password.hasError('pattern')"
            >Password should contain one uppercase, one lowercase, one number, one symbol, and should be of 8 to 12
            characters long.</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Enter a confirm password"
            [formControl]="confirm_password"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="confirm_password.hasError('required') && !confirm_password.hasError('confirmedValidator')"
            >Please enter password.</mat-error
          >
          <mat-error *ngIf="!confirm_password.hasError('required') && confirm_password.hasError('confirmedValidator')">
            Password and Confirm Password must be same.
          </mat-error>
        </mat-form-field>

        <div class="w-100 d-flex pt-4">
          <button class="app-primary-btn w-100" [disabled]="!updatePasswordForm.valid" type="submit" mat-button>
            UPDATE
          </button>
          <button routerLink="/login" class="w-100" type="button" mat-button>
            LOGIN
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="isPasswordUpdated" class="reset-pwd-success">
      <div class="primary-txt">Your Password Has Been Updated Successfully</div>
      <div class="secondary-txt text-center mt-2">
        Click on the
        <button routerLink="/login" class="w-100" type="button" mat-button>
          LOGIN
        </button>
        to Login.
      </div>
    </div>
  </div>
</section>
