<section class="mt-5">
  <div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center">
      <mat-card class="signup-card mt-4 mb-4 mat-elevation-z16">
        <mat-card-header class="p-4">
          <mat-card-title>{{ 'Profile' | uppercase }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="p-4 pt-4 pb-4">
          <form class="col-md-12 app-form" autocomplete="off" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Dalhousie Banner ID</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter Banner ID"
                    [formControl]="bannerId"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter First Name"
                    [formControl]="firstName"
                    autocomplete="off"
                    required
                  />
                  <mat-error *ngIf="firstName.hasError('required')">Please enter your firstname.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter Last Name"
                    [formControl]="lastName"
                    autocomplete="off"
                    required
                  />
                  <mat-error *ngIf="lastName.hasError('required')">Please enter your lastname.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Email Address</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="Enter email address"
                    [formControl]="email"
                    autocomplete="off"
                    required
                  />
                  <mat-error *ngIf="email.hasError('required') && !email.hasError('email')"
                    >Please enter your email address.</mat-error
                  >
                  <mat-error *ngIf="!email.hasError('required') && email.hasError('email')"
                    >Please enter a valid email address.</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="w-100 d-flex pt-4">
              <button class="app-primary-btn w-100" [disabled]="!profileForm.valid" type="submit" mat-button>
                Update
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
