<div class="container-fluid mat-elevation-z8">
  <div class="table-responsive d-flex flex-column mt-2">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
        <td mat-cell *matCellDef="let order">
          {{ order.orderId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bannerid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
        <td mat-cell *matCellDef="let order">
          {{ order.BannerId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Placed On</th>
        <td mat-cell *matCellDef="let order">
          {{ order.OrderDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pickupdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pickup Date</th>
        <td mat-cell *matCellDef="let order">
          {{ order.PickUpSlot }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let order">
          <div class="{{ order.status | lowercase }}">
            <strong>
              {{ order.Status }}
            </strong>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let order">
          <button mat-raised-button class="app-primary-btn" (click)="openOrder(order.orderId)">View</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="[7]" showFirstLastButtons></mat-paginator>
  </div>
  <app-loader [isLoading]="isLoading" [size]="3"></app-loader>
</div>
