<section class="container forgot-password mb-4">
  <div class="card password-card mat-elevation-z2">
    <div *ngIf="!isResetPwdLinkSent">
      <h4 class="font-weight-bold">Reset Password</h4>
      <div class="secondary-txt mt-2 mb-2">
        Enter your BannerId and we'll send a link on your email to reset your password.
      </div>
      <form class="app-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordLink()">
        <mat-form-field class="w-100">
          <input matInput type="text" placeholder="BannerId" [formControl]="bannerId" autocomplete="off" />
          <mat-error *ngIf="bannerId.hasError('required') && !bannerId.hasError('pattern')"
            >Please enter BannerId.</mat-error
          >
          <mat-error *ngIf="!bannerId.hasError('required') && bannerId.hasError('pattern')"
            >Please enter a valid BannerId.</mat-error
          >
        </mat-form-field>
        <div class="pt-2">
          <button class="app-primary-btn w-100" [disabled]="!resetPasswordForm.valid" type="submit" mat-button>
            SEND LINK
          </button>
        </div>
        <div class="pt-4">
          <a class="login-link" [routerLink]="['/login']"><small>Wait, I remember my password.</small></a>
        </div>
      </form>
    </div>
    <div *ngIf="isResetPwdLinkSent" class="reset-pwd-success">
      <picture>
        <img class="email-img" src="./../../assets/media/app-email-success.jpg" />
      </picture>
      <div class="primary-txt">We have sent a password reset link to your registered email ID</div>
      <div class="secondary-txt text-center mt-2">
        Click on the 'Reset Password' link sent to your email ID and create a new password
      </div>
    </div>
  </div>
</section>

<!--
  Password Reset link sent success
  REF: https://dribbble.com/shots/3903521-Envelope
  https://dribbble.com/shots/11008340-Good-news
-->
