<section class="container-fluid app-home">
  <div class="row">
    <div class="col-md-12 col-lg-5 d-flex flex-column justify-content-center order-2 order-lg-1 p-5">
      <h1 class="text-center pt-3 pb-3 p-md-5">Welcome to the Dalhousie Student Union Food Bank</h1>
      <div class="d-flex flex-column align-items-center">
        <button class="btn btn-lg app-primary-btn mw-50 mb-4" routerLink="/products">Browse Products</button>
      </div>
    </div>
    <picture class="col-md-12 col-lg-7 order-1 order-lg-2">
      <img class="app-landing-img" src="./../../assets/media/app-home.jpg" alt="landing page image" />
    </picture>
  </div>
</section>

<!--
  Landing Image - REF: https://dribbble.com/shots/6413123-DNA-FOOD 
-->
