// /**
//  * @author Malav Jani <ml805403@dal.ca>
//  *
//  */
/* stylelint-disable */
@import "base/colors";
@import "abstract/placeholders";

.order-details-img,
.order-item-img {
  @extend %app-img;
}
.order-item-img {
  width: 10vw;
  min-height: 100px;
}
.orders-link {
  @extend %app-link;
}
// Handling item image on smaller devices
@media all and (max-width: 668px) {
  .order-item-img {
    width: 30vw;
  }
}

// order status
#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  padding-left: 0px;
  margin-top: 3vh;
}

#progressbar li {
  list-style-type: none;
  font-size: x-small;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: rgb(160, 159, 159);
}

#progressbar #step1:before {
  content: "";
  width: 5px;
  height: 5px;
  margin-left: 0px !important;
}

#progressbar #step2:before {
  content: "";
  color: $white;
  width: 5px;
  height: 5px;
  margin-left: 32%;
}

#progressbar #step3:before {
  content: "";
  color: $white;
  width: 5px;
  height: 5px;
  margin-right: 32%;
}

#progressbar #step4:before {
  content: "";
  color: $white;
  width: 5px;
  height: 5px;
  margin-right: 0px !important;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #ddd;
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh;
}

#progressbar li:after {
  content: "";
  height: 2px;
  background: #ddd;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 1px;
  z-index: 1;
}

.progress-track {
  padding: 0 8%;
}

#progressbar li:nth-child(2):after {
  margin-right: auto;
}

#progressbar li:nth-child(1):after {
  margin: auto;
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%;
}

#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%;
}

#progressbar li.active,
#progressbar li.active-reject {
  color: $black;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: $status-line-blue;
}

#progressbar li.active-reject:before,
#progressbar li.active-reject:after {
  background: $status-line-orange;
}
