$white: #fff;
$black: #000;

// text
$primary-text-blue: #2d316b;

// input
$primary-input-blue: #0e0d3a;

// buttons
$primary-btn-blue: #0e0d3a;
$action-btn-orange: #e86317;
$action-btn-hover-orange: #e03700;

// nav active state
$nav-active-bg-blue: #06061d;

// image placeholder
$img-background-color: #ededed;

// footer
$footer-bg: #0e0d3a;
$sub-footer-bg: #06061d;

// status
$status-line-blue: #0e0d3a;
$status-line-orange: #e03700;
