@font-face {
  font-family: Montserrat-Medium;
  src: url("src/assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Black;
  src: url("src/assets/fonts/Montserrat-Black.ttf");
}

$font-montserrat-medium: "Montserrat-Medium";
$font-montserrat-black: "Montserrat-Black";
